@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Outfit:wght@100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Inter", sans-serif;
}

h1 {
  font-size: 3rem;
  font-weight: 400;
  letter-spacing: -0.1rem;
  line-height: 1.2;
}

p {
  font-size: 0.85rem;
  font-weight: 400;
}

img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

nav {
  position: fixed;
  top: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2rem;
  z-index: 2;
}

nav p {
  text-transform: uppercase;
  font-size: 0.75rem;
  color: #fff;
}

nav .logo {
  border: 1px solid rgba(255, 255, 255, 0.1);
  border-radius: 0.25rem;
  background-color: rgba(0, 0, 0, 0.05);
  backdrop-filter: blur(20px);
  padding: 0.5rem 1rem;
  overflow: hidden;
}

section {
  position: relative;
  width: 100%;
  height: 100svh;
  overflow: hidden;
}

.intro,
.outro {
  padding: 2rem;
  align-content: center;
  background-color: #0f0f0f;
  color: #fff;
}

.intro h1,
.outro h1 {
  /* max-width: 40ch; */
  width: 50%;
  margin: 0 auto;
  text-align: center;
}

.slider-images {
  position: absolute;
  width: 100%;
  height: 100%;
}

.slider-images::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.35);
}

.slider-images img {
  position: absolute;
  width: 100%;
  height: 100%;
  transform-origin: center;
  will-change: transform, opacity;
}

.slider-title {
  position: absolute;
  top: 50%;
  left: 2rem;
  transform: translateY(-50%);
  color: #fff;
  width: 50%;
}

.slider-indicator {
  position: absolute;
  top: 50%;
  right: 2rem;
  transform: translateY(-50%);
}

.slider-indices {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 1rem 1.25rem;
}

.slider-indices p {
  display: flex;
  align-items: center;
  gap: 1rem;
  color: #fff;
}

.index {
  position: relative;
  width: 1.25rem;
  display: flex;
  justify-content: flex-end;
  will-change: opacity;
}

.marker {
  position: relative;
  width: 0.75rem;
  height: 1px;
  background-color: #fff;
  transform-origin: right;
  will-change: transform;
  transform: scaleX(0);
}

.slider-progress-bar {
  position: absolute;
  top: 0;
  right: 0;
  width: 1px;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.35);
}

.slider-progress {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%) scaleY(0);
  width: 3px;
  height: 100%;
  background-color: #fff;
  transform-origin: top;
  will-change: transform;
}

.line {
  position: relative;
  display: block;
  will-change: transform;
}

@media (max-width: 1000px) {
  h1 {
    font-size: 2rem;
    letter-spacing: 0;
  }
  nav {
    display: none;
  }

  .intro h1,
  .outro h1 {
    width: 100%;
  }

  .slider-title {
    top: 5rem;
    left: 0;
    transform: none;
    width: 100%;
    padding: 2rem;
  }

  .slider-indicator {
    top: unset;
    transform: none;
    bottom: 2rem;
  }
}
